body
{
    font: Arial, sans-serif;
}

.bubbledLeft,.bubbledRight {
    position:relative;
    margin-top:3px;
    max-width:80%;
    clear:both;
}

.bubbledLeft {
    float:left;
    margin-right:auto;
    padding:4px 10px 4px 15px;
}

.bubbledLeft:before {
    z-index:-1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:"";
    border-image:url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
    -webkit-border-image:url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
    -moz-border-image:url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
    -o-border-image:url(speech_bubble_left_2.png) 8 10 8 17 stretch stretch;
    border-width:8px 10px 8px 17px;
}

.bubbledRight {
    float:right;
    margin-left:auto;
    text-align:right;
    padding:4px 15px 4px 10px;
}

.bubbledRight:before {
    z-index:-1;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    content:"";
    border-image:url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch;
    -webkit-border-image:url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch;
    -moz-border-image:url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch;
    -o-border-image:url(speech_bubble_right_2.png) 8 17 8 10 stretch stretch;
    border-width:8px 17px 8px 10px;
}
